<?xml version="1.0"?>
<config>
    <modules>
        <Followthesun_Crm360>
            <version>0.1.0</version>
        </Followthesun_Crm360>
    </modules>
     
    <frontend>     
        <routers>
            <crm360>
                <use>standard</use>
                <args>
                    <module>Followthesun_Crm360</module>
                    <frontName>crm360</frontName>
                </args>
            </crm360>
        </routers>   
        <layout>
            <updates>
                <followthesun_crm360>
                    <file>followthesun_crm360.xml</file>
                </followthesun_crm360>
            </updates>
        </layout>
    </frontend>
    
    <admin>
        <routers>
            <crm360>
                <use>admin</use>
                <args>
                    <module>Followthesun_Crm360</module>
                    <frontName>crm360</frontName>
                </args>
            </crm360>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <followthesun_crm360>
                    <file>followthesun_crm360.xml</file>
                </followthesun_crm360>
            </updates>
        </layout>
        <menu>
            <crm360>
                <title>CRM 360</title>
                <sort_order>100</sort_order>
                <children>
                    <logs>
                        <title>Logs</title>
                        <action>crm360/adminhtml_log</action>
                    </logs>
                    <config>
                        <title>Configuration</title>
                        <action>adminhtml/system_config/edit/section/crm360_config/</action>
                    </config>
                </children>
            </crm360>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <crm360>
                            <children>
                                <logs translate="title">
                                    <title>Logs</title>
                                    <sort_order>1</sort_order>
                                </logs>
                            </children>
                        </crm360>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <crm360_config translate="title" module="crm360">
                                            <title>CRM 360 Configuration</title>
                                            <sort_order>100</sort_order>
                                        </crm360_config>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <global>
        <blocks>
            <crm360>
                <class>Followthesun_Crm360_Block</class>
            </crm360>
        </blocks>
        <helpers>
            <crm360>
                <class>Followthesun_Crm360_Helper</class>
            </crm360>
        </helpers>       
        <models>
            <crm360>
                <class>Followthesun_Crm360_Model</class>
                <resourceModel>crm360_mysql4</resourceModel>
            </crm360>
            <crm360_mysql4>
                <class>Followthesun_Crm360_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>crm360_logs</table>
                    </log>
                </entities>
            </crm360_mysql4>
        </models>
        <resources>
            <crm360_setup>
                <setup>
                    <module>Followthesun_Crm360</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crm360_setup>
            <crm360_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crm360_write>
            <crm360_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crm360_read>
        </resources>
    </global>

    <!-- Valeurs par défaut  -->
    <default>
        <crm360_config>
            <config>
                <wget_path>/usr/bin/wget</wget_path>
            </config>
        </crm360_config>
    </default>

</config>