<?xml version="1.0"?>
<config>
    <tabs>
        <crm360 translate="label" module="crm360">
            <label>CRM 360</label>
            <sort_order>200</sort_order>
        </crm360>
    </tabs>
    <sections>
        <crm360_config>
            <label>Configuration</label>
            <tab>crm360</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>		
                <identification translate="label">
                    <label>Identification</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <login translate="label">
                            <label>Login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </login>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                    </fields>
                </identification>
                <config translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <wget_path translate="label comment">
                            <label>Commande wget</label>
                            <comment>Chemin vers la commande wget</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </wget_path>
                    </fields>
                </config>
            </groups>
        </crm360_config>
    </sections>	
</config>